{{ header }}

package bubbletint

import (
	"github.com/lrstanley/bubbletint/tints"
)

var defaultRegistry = map[string]Tint{
{{- range $index, $tint := . }}
    "{{ .NameNormalized }}": Tint{{ .StructName }},
{{- end }}
}

var (
{{- range $index, $tint := . }}
    Tint{{ .StructName }} Tint = &tints.Tint{{ .StructName }}{}
{{- end }}
)
